@import "../../global.scss";

// .mainMonth{
//   // top: 120px;
//   // width: 100%;
//   display: flex;
//   position: relative;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   background-color: $palleteGrey;
//   // width: fit-content;
.month {
  padding-top: 1.8%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  position: relative;
  width: 90%;
  height: 80%;
  align-items: center;
  text-align: center;
  background-color: $palleteBlack;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;    
  .row {
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% / 6);
    width: 100%;
    justify-content: center;

    .week {
      width: calc(100% / (7.5));
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      border: 1px solid yellow;
      background-color: $palleteBlue;
      border-radius: 9px;
      .dayCell {
        // height: 100%;
        // display: flex;
        // flex-wrap: wrap;
        width: 100%;
        // border: 1px solid white;
      }
    }
  }
  .weekHead {
    // border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% / 12);
    text-align: center;
    display: flex;
    justify-content: center;
    .week {
      color: whitesmoke;
      width: calc(100% / (7.5));
      border: 1px solid yellow;
      border-radius: 9px;
      text-align: center;
      margin: auto 0;
    }
  }
}
// }
