.header {
    height: 100vh;
    position: relative;
    background-color: red;

    .container {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}